@custom-media --mq-phablet-min (min-width: 22.5rem); /* 360px */
@custom-media --mq-phablet-max (max-width: 26.1875rem); /* 419px */
@custom-media --mq-mobileLandscape-min (min-width: 35.5rem); /* 568px */
@custom-media --mq-tablet-min (min-width: 48rem); /* 768px */
@custom-media --mq-tablet-max (max-width: 64rem); /* 1024px */
@custom-media --mq-desktop-min (min-width: 64.063rem); /* 1025 px */
@custom-media --mq-desktop-max (max-width: 85.3125rem); /* 1365px */
@custom-media --mq-desktopLarge-min (min-width: 85.375rem); /* 1366px */

@custom-media --mq-heightLarge (min-width: 64rem) and (min-height: 68rem); /* 1088px */