
::-webkit-scrollbar {
    width: var(--spacing-n1);
  }
  

  ::-webkit-scrollbar-track {
    background: var(--color-gray-medium-faded);
  }
  

  ::-webkit-scrollbar-thumb {
    background: var(--color-gray-medium);
    border-radius: var(--spacing-1);
  }
  

  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-gray-medium);
  }