body {
	font-family: var(--font-family-secondary);
	font-weight: var(--font-weight-regular);
	font-size: var(--font-size-base);
	line-height: var(--typography-lineHeight);
}

h1,
h2,
h3 {
	font-family: var(--font-family-primary);
	font-weight: var(--font-weight-regular);
	color: var(--color-primary);
	line-height: 1.25;
}
